.page-details {
  margin-top: 30px;

  h5 {
    color: #0c0d36;
    font-size: 18px;
    font-weight: 300;
  }

  .store-heading {
    margin-bottom: 10px;

    h1 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0px;
      color: #0c0d36;
    }

    .owner {
      font-weight: 200;
      font-size: 14px;
      line-height: 21px;
      color: #979797;
      margin-bottom: 8px;
    }

    .deadline {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
      margin-bottom: 10px;
    }

    .deadline-span {
      color: #ff7158;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
    }
    .status {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
      margin-bottom: 10px;
    }

    .status-span {
      color: #e29229;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
    }

    .activated {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
      margin-bottom: 10px;
    }

    .activated-span {
      color: rgb(54, 207, 79);
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
    }
  }

  .store-gallery {
    margin-bottom: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;
      &:hover,
      &.active {
        border: 2px solid #ff7158;
      }
    }
  }
  .store-description {
    p {
      font-size: 16px;
      color: #525252;
      line-height: 180%;
    }
  }
  .store-review {
    .media {
      img {
        max-width: 50px;
      }
    }
    .media-body {
      font-size: 16px;
      line-height: 180%;
      color: #525252;

      h5 {
        font-weight: 300;
        font-size: 16px;
        line-height: 180%;
        color: #0c0d36;
      }
    }
  }
}

// Section 1  details
.rounded-contact {
  border-radius: 20px;
}

.p-card-1 {
  width: 70%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.w-image-card {
  width: 52%;
}

.font-contact {
  font-size: 30px;
}

.font-contact {
  font-size: 12px;
}

.section-2-card-1 {
  width: 41.219%;
}

@include media-breakpoint-down(sm) {
  .p-card-1 {
    width: 100%;

    .h2-contact {
      font-size: 18px;
    }

    .p-contact {
      font-size: 12px;
    }

    .btn-contact {
      font-size: 12px;
      padding: 10px 20px 10px 20px;
      line-height: 1;
    }
  }

  .border-contact-mobile {
    border-radius: 20px;
  }

  .mobile-card-1 {
    display: block !important;
  }

  .mobile-card-1 {
    display: block;
  }

  .w-image-card {
    width: 100%;
    visibility: hidden;
  }

  .section-2-card-1 {
    justify-content: center;
    justify-items: center;
    display: flex;
  }
}

// Section 2
.p-card-2 {
  width: 29.96%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-left: 0.4%;
}

.section-1-card-2 {
  width: 60%;
}

.section-2-card-2 {
  // width: 39.998%;
  width: 100%;
}

.font-project {
  font-size: 26px;
}

.font-number {
  font-size: 69px;
}

@include media-breakpoint-down(sm) {
  .p-card-2 {
    width: 100%;
    margin-left: 0px;
    border-radius: 10px;
  }

  .section-1-card-2 {
    justify-content: start !important;
  }

  .section-2-card-2 {
    width: 100%;
    padding: 10px;
  }

  .font-project {
    font-size: 18px;
    margin: auto;
  }

  .font-number {
    font-size: 32px;
    margin: auto;
  }
}

// section description
.radius-client-project {
  border-radius: 15px;
}

@include media-breakpoint-down(sm) {
  .radius-client-project {
    padding: 5px 5px 5px 5px;
  }
}
// section description 1

.section-description-1 {
  width: 30%;
}

.img-client {
  width: 70%;
}

@include media-breakpoint-down(sm) {
  .img-client {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

// section description 2
.section-description-2 {
  width: 80%;
}

.font-title-project {
  font-size: 28px;
}

.font-subtitle-project {
  font-size: 16px;
}

.btn-details {
  padding: 16px 28px;
  font-size: 18px;
  border-radius: 4px;
}

@include media-breakpoint-down(sm) {
  .section-description-2 {
    width: 70%;
  }

  .font-title-project {
    font-size: 16px;
    margin: 8px 0px 16px;
  }

  .font-subtitle-project {
    font-size: 12px;
    margin: 0px;
  }

  .btn-details-mobile {
    margin: 10px 0px 0px 0px;
  }

  .btn-details {
    margin: 0 !important;
    padding: 8px 40px 7px 40px;
    font-size: 12px;
    border-radius: 4px;
  }
}
// floating contact
.position-relative {
  position: relative;
  height: 200px;
  overflow: auto;
}

.floating-contact {
  position: absolute;
  bottom: 0;
  right: 0;
}

@include media-breakpoint-down(sm) {
  .svg-clock {
    width: 12px;
  }

  .p-deadline {
    font-size: 12px;
  }

  .p-status {
    font-size: 12px;
  }
}

// Comments & Reply
// Prefix
$prefix: bs-;
$sk-variable-prefix: sk-;

body {
  --bs-font-sans-serif: Roboto, Arial, sans-serif, system-ui, -apple-system,
    "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
}

$comment-img-size: 3rem;
$comment-img-size-sm: 1.75rem;

.comment {
  &-img {
    display: inline-block;
    width: $comment-img-size;
    height: $comment-img-size;
    background-color: var(--#{$prefix}secondary-bg);
  }

  &-replies &-img {
    width: $comment-img-size-sm;
    height: $comment-img-size-sm;
  }

  a,
  &-replies a {
    text-decoration: none !important;
  }
}

.form-floating.comment-compose > .form-control,
.form-floating.comment-compose > .form-control:focus {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px var(--bs-border-style) var(--bs-body-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 0.15rem 0.5rem;
}

.form-floating.comment-compose > label,
.form-floating.comment-compose > .form-control:focus ~ label::after,
.form-floating.comment-compose
  > .form-control:not(:placeholder-shown)
  ~ label::after {
  color: var(--bs-secondary-color);
  background-color: transparent;
  padding: 0;
  line-height: 1;
}